:root {
  color-scheme: light dark;
}

* {
  color: white;
  background-color: #242424;
}

#root,
.App {
  width: 100vw;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
