:root {
  color-scheme: light dark;
}

* {
  color: white;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  overflow-y: auto;
  background-color: #242424;
}
